@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  /* background-color: aquamarine; */
  font-family: "Inter", monospace;
}

header {
  background-color: #f5f7fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

nav li {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.button-container {
  display: flex;
  gap: 14px;
}

.button-dark,
.button-normal {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0;
}

.button-dark {
  background-color: #4caf4f;
  color: white;
}

.button-normal {
  background-color: #f5f7fa;
  color: #4caf4f;
}

section {
  background-color: #f5f7fa;
  color: black;
  display: flex;
  justify-content: center;
}

#hero {
  max-height: 600px;
  padding: 20px;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

#hero-image {
  width: 100%;
}

.highlight {
  color: #4caf4f;
}

.hero-title {
  /* font-size: 5vw; */
  font-size: clamp(40px, 5vw, 70px);
  margin: 0;
}

.hero-subtext {
  color: #717171;
  margin: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.custom-padding {
  padding: 20px 40px !important;
  font-size: large;
}

#sponsor {
  padding: 40px 0;
  /* background-color: cadetblue; */
  background-color: white;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 190px;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

#sponsor {
  div {
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }

  #icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  img {
    width: 48px;
    height: 48px;
  }
}
