@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  /* background-color: aquamarine; */
  font-family: "Inter", monospace;
}

header {
  background-color: #f5f7fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

nav li {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.button-container {
  display: flex;
  gap: 14px;
}

.button-dark,
.button-normal {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0;
}

.button-dark {
  background-color: #4caf4f;
  color: white;
}

.button-normal {
  background-color: #f5f7fa;
  color: #4caf4f;
}

section {
  background-color: #f5f7fa;
  color: black;
  display: flex;
  justify-content: center;
}

#hero {
  max-height: 600px;
  padding: 20px;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

#hero-image {
  width: 100%;
}

.highlight {
  color: #4caf4f;
}

.hero-title {
  /* font-size: 5vw; */
  font-size: clamp(40px, 5vw, 70px);
  margin: 0;
}

.hero-subtext {
  color: #717171;
  margin: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.custom-padding {
  padding: 20px 40px !important;
  font-size: large;
}

#sponsor {
  padding: 40px 0;
  /* background-color: cadetblue; */
  background-color: white;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 190px;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

#sponsor {
  div {
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }

  #icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  img {
    width: 48px;
    height: 48px;
  }
}

#community {
  flex-direction: column !important;
  align-items: center;
  padding: 20px 0;
  max-width: 1400px;
  margin: 0 auto;
  background-color: white !important;
}

#community {
  h2,
  p {
    text-align: center;
  }

  h2 {
    color: #4d4d4d;
    /* font-size: 36px; */
    font-size: clamp(20px, 5vw, 36px);
    width: 550px;
  }

  p {
    color: #717171;
    font-size: 16px;
  }

  h3 {
    color: #4d4d4d;
    /* font-size: 36px; */
    font-size: clamp(20px, 5vw, 28px);
    text-align: center;
    width: 200px;
  }

  .card {
    width: 300px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(189, 189, 189);
  }

  .card img {
    width: 65px;
  }

  #card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
  }
}

#strip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1400px;
  margin: 0 auto;
  gap: 100px;
}

#strip {
  h2 {
    color: #4d4d4d;
    /* font-size: 36px; */
    font-size: clamp(20px, 5vw, 36px);
    width: 550px;
  }

  #container {
    width: 600px;
  }

  #parent-container {
    width: 100%;
  }

  p {
    margin-bottom: 50px;
    color: #717171;
    font-size: 16px;
  }
}

#statistics {
}

#statistics {
  #container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #head-text {
    color: #4d4d4d;
    margin-bottom: 0;
  }
  #text-container {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  #grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    place-content: center;
  }
}

#statcard {
  display: flex;
}

#statcard {
  h2 {
    margin-bottom: 0;
    color: #4d4d4d;
  }
  p {
    margin-top: 0;
    color: #717171;
  }
  img {
    margin-right: 10px;
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    li {
      display: none;
    }
  }

  #community {
    #card-grid {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  #strip {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  #strip {
    #container {
      width: 100%;
    }
    h2 {
      width: 100%;
    }
  }

  #statistics {
    #container {
      flex-direction: column;
      align-items: center;
    }
    #grid-container {
      width: 100%;
      place-items: center;
    }
  }
}
